{% extends 'ToP/base.html' %}
<!--> Template for login screen. Prompts user to enter username and password, and links to password reset
with 'Forgot Password?'. Also links user to register if not a member. </!-->
{% block body %}
	<form class="signin-form" role="form" method="post" action=".">
		{% csrf_token %}
		<p class="lead">
			<h2 class="form-signin-heading">Login</h2>
		</p>
		<label for="inputUsername" class="sr-only">Username</label>
		<br/>
		<input type="text" name="username" id="id_username" class="form-control" placeholder="Username" required autofocus/>
		<br/>
		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" name="password" id="id_password" class="form-control" placeholder="Password" required autofocus/>
		<a href="/accounts/password/reset/" class="nav-link">Forgot Password?</a>
		<br/>
		<p class="lead">
			<input class="btn btn-secondary" type="submit" value="Login"/>
		</p>
	</form>
	<div class="mastfoot">
		<div class="inner">
            <p>Not a member?<a class="nav-link" href="{% url 'registration_register' %}">Register!</a></p>
		</div>
    </div>
{% endblock %}