{% extends "ToP/base.html" %}
<!--> Form to allow user to change password according to requirements. Prompts re-entry for verification. </!-->
{% load i18n %}

{% block body %}
	<form role="form" method="post" action=".">
		{% csrf_token %}
		<br/>
		<br/>
		<div class="from-group">
		<p class="lead">
			<input class="form-control" id="id_old_password" name="old_password" label="Old password" type="password" placeholder="Old Password">
		</p>
		<p class="lead" align="left">
			<input class="form-control" id="id_new_password1" name="new_password1" label="New Password" type="password" placeholder="New Password">
		<span class="helptext" align="left">
		Your password can't be too similar to your other personal information.<br/>
		Your password must contain at least 8 characters.<br/>
		Your password can't be a commonly used password.<br/>
		Your password can't be entirely numeric.
		</p>
		</span>
		<p class="lead" align="left">
			<input class="form-control" id="id_new_password2" name="new_password2" label="New Password Confirmation" type="password" placeholder="New Password Confirmation"/>
		<span class="helptext" align="left">
			Enter the same password as before for verification.
		</p>
		</span>
		</div>
		<button type="submit" class="btn btn-secondary">Submit</button>
	</form>
{% endblock %}