{% extends 'ToP/base.html' %}
{% load staticfiles %}

{% block title %}
	Top of the Playlists!
{% endblock %}

{% block body %}
    <h1 clas="lead">Create a New Playlist</h1>
	<div>
	    <form id="create_playlist_form" method="post" actions="/ToP/create_playlist/" enctype="multipart/form-data">
	        {% csrf_token %}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
			{% for field in form.visible_fields %}
				{{ field.errors }}
				{{ field.help_text }}
				{{ field }}
			{% endfor %}
		    <input type="submit" name="submit" value="Create Playlist" />
		</form>
    </div>
{% endblock %}