{% extends "ToP/base.html" %}


{% block title %}
	Home
{% endblock %}

{% block body %}
    <div class="inner cover">
        <h1 class="cover-heading">Top of The Playlists</h1>
		<p class="lead">Top of the Playlists is a resource for all music lovers to share their favourite playlists.</p>
        <p class="lead">
            <a href="{% url 'registration_register' %}" class="btn btn-lg btn-secondary"/>Register Here!</a>
        </p>
    </div>

	<div class="mastfoot">
		<div class="inner">
            <p>Already a member? <a class="nav-link" href="{% url 'auth_login' %}">Login!</a></p>
		</div>
    </div>
{% endblock %}