{% extends "ToP/base.html" %}


{% block title %}
	Home
{% endblock %}

{% block body %}
    <div class="inner cover">
        <h1 class="cover-heading">Top of The Playlists</h1>
		<p class="lead">Top of the Playlists is a resource for all music lovers to share their favourite playlists.</p>
		{% if user.is_authenticated %}
		<p class="lead">Welcome, {{ user.username }}. You are now logged in!</p>
		<a href="{% url 'auth_logout' %}" class="btn btn-lg btn-secondary">Logout</a>
		{% else %}
            <a href="{% url 'registration_register' %}" class="btn btn-lg btn-secondary"/>Register Here!</a>
		{% endif %}
    </div>
	
	{% if user.is_authenticated %}
	{% else %}
	<div class="mastfoot">
		<div class="inner">
            <p>Already a member? <a class="nav-link" href="{% url 'auth_login' %}">Login!</a></p>
		</div>
    </div>
	{% endif %}
{% endblock %}