{% extends 'ToP/base.html' %}
{% load staticfiles %}

{% block title %}
	Most Listened 
{% endblock %}

{% block body %}
<div class="inner cover">
	<p class="lead">
		<strong>Most Listened page works!</strong>
	</p>
</div>
<!-- <div class="col-lg-6">
<h4>Most Listened Playlists</h4>
<p>
	{% if playlists %}
	<ul class="list-group">
		{% for playlist in playlists %}
		<li class="list-group-item"><a href="{% url 'show_playlist' playlist.slug %}">{{ playlist.name }}</a></li>
		{% endfor %}
	</ul>
	{% else %}
		<strong>There are no playlists present.</strong>
	{% endif %}
</p>
</div> -->
{% endblock %}