{% extends 'ToP/base.html' %}
{% load staticfiles %}

{% block title %}
	Most Viewed 
{% endblock %}

{% block body %}
<div class="inner cover">
	<p class="lead">
		<strong>Most Viewed page works!</strong>
	</p>
</div>
<<div class="col-lg-6">
<h4>Most Viewed Playlists</h4>
<p>
	<var>most</var>
	{% if playlists %}
	<ul class="list-group">
		{% for playlist in playlists %}
		{% if playlist.views > most}
		most=playlist
		{% endif %}
		<li class="list-group-item"><a href="{% url 'show_playlist' playlist.slug %}">{{ playlist.name }}</a></li>
		{% endfor %}
	</ul>
	{% else %}
		<strong>There are no playlists present.</strong>
	{% endif %}
</p>
</div>
{% endblock %}