{% extends 'ToP/base.html' %}
{% load staticfiles %}

{% block title %}
	Most Viewed 
{% endblock %}

{% block body %}
<div class="inner cover">
	<p class="lead">
		<strong>Most Viewed page works!</strong>
	</p>
</div>
<<div class="col-lg-6">
<div>
	<h3>Most Viewed Pages</h3>	
		</div>
		<ul>
	       	   {% if playlists %}
             	
	              {% for playlist in playlists %}
	                 <li><a href="{{ playlist.url }}">{{ playlist.name }}</a></li>
	                 {% endfor %}
	             </ul>
	        {% else %}
	             <strong>There are no playlists present.</strong>
	        {% endif %}
				</div>
		<div>
{% endblock %}