{% extends 'ToP/base.html' %}
{% load staticfiles %}

{% block title %}
	My Playlists - {{ user.username }}
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <h1>{{ user.username }}, welcome to your playlists</h1>
    {% else %}
        <strong>You are not logged in. Please go to the home page and log in first.</strong>
    {% endif %}

<!--<a href="{url 'auth_password_change'}" class="nav-link">Change Password</a>
<div class="col-lg-6">
<h4>My Playlists</h4>
<p>
	{% if playlists %}
	
		{% if Playlist.author == user.username %}
	
		<ul class="list-group">
			{% for playlist in user_playlists %}
				<li class="list-group-item"><a href="{% url 'show_playlist' playlist.slug %}">{{ playlist.name }}</a></li>
			{% endfor %}
		</ul>
		{% else %}
			<strong>There are no playlists present.</strong>
		{% endif %}
	{% endif %}
</p>
</div>-->
{% endblock %}