{% extends 'ToP/base.html' %}
<!--> Displays all of the logged in user's playlists. Also acts as an Account page, allowing the user to change their password. </!-->
{% load staticfiles %}

{% block title %}
	{{ user.username }}
{% endblock %}

{% block body %}
<center>
<div style="postions:relative; height:60px;">
	<p><span class="user" style="postion:absolute; top:-10px; left:-30px;">{{ username }}</span></p>
</center>
	<a href="accounts/password_change/" class="nav-link">Change Password</a>
	<div class="col-lg-12">
	    {% if playlists %}
		    <ul class="list-group">
			    {% for playlist in playlists %}
				    {% if playlist.author == user.username %}
				        <li class="list-group-item list-group-item-warning">
							
							{% if playlist.picture %}
								<img src="{{ playlist.picture.url }} "height='75' width='auto'>
							{% else %}
								<img src="{{ MEDIA_URL }}vinyl-883199_960_720.png "height='75' width='auto'>
							{% endif %}	
							
						    <a href="{% url 'show_playlist' playlist.slug %}" class="my_playlists">{{ playlist.name }}</a>
				        </li>
				    {% endif %}
			    {% endfor %}
		    </ul>
	    {% else %}
			<p class="lead">There are no playlists present.</p>
	    {% endif %}
	</div>
{% endblock %}