{% extends 'ToP/base.html' %}
{% load staticfiles %}

{% block title %}
	{{ playlist.name }}
{% endblock %}

{% block body %}
    {% if playlist %}
		<h1>{{ playlist.name }}</h1>

		{% if songs %}
			<ul>
				{% for song in songs %}
					<li>Title: {{ song.title }}<br/>Artist: {{ song.artist }}<br/>Genre: {{ song.genre}}<br/></li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>No songs currently in playlist.</strong>
		{% endif %}
    {% else %}
		The specified playlist does not exist!
	{% endif %}
{% endblock %}