{% extends 'ToP/base.html' %}
<!--> Template to display a playlist. Playlist art is displayed, along with the name and the songs included. Each song is 
displayed with the artist's image and album artwork from Spotify. </!-->
{% load staticfiles %}

{% block title %}
	{{ playlist.name }}
{% endblock %}

{% block body %}
    {% if playlist %}
		{% if playlist.picture %}
			<img src="{{ playlist.picture.url }}"><br/>
		{% else %}
			<img src="{{ MEDIA_URL }}vinyl-883199_960_720.png"><br/>
		{% endif %}
		<h1>{{ playlist.name }}</h1>
		<strong> Playlist Views: </strong>{{ visits }}<br/>
		<strong> Playlist Rating: </strong>{{ playlist.rating }}<br/> <br/>

		{% if songs %}
			<ul>
				{% for song in songs %}
					<li>
					<img src="{{ ARTIST_MEDIA_URL }}{{ song.artist_art }} "height='135' width='auto'>
					<img src="{{ ARTIST_MEDIA_URL }}{{ song.album_art }} "height='135' width='auto'><br/>
					{{ song.title }}
					by {{ song.artist }}<br/>
					Album: {{song.album}}<br/>
					Genre: {{ song.genre}}<br/>
					<br/>
					</li>
				{% endfor %}
			</ul>
			<hr>
		
			{% if user.is_authenticated %}
				<a class="btn btn-default" href="{% url 'add_comment' playlist.slug %}">Add comment</a>
			{% endif %}
			{% for comment in playlist.comments.all %}
				<div class="comment">
					<p><strong>{{ comment.author }}: </strong>{{ comment.text }}
					{{ comment.created_date }}
					</p>
				</div>
			{% empty %}
				<p>No comments </p><br/>
			{% endfor %}

			{% if user.is_authenticated %}
				<a class="btn btn-default" href="{% url 'add_rating' playlist.slug %}">Add rating</a>
				<br/>
			{% endif %}
			
		{% else %}
			<strong>No songs currently in playlist.</strong>
			<hr>
		{% endif %}

    {% else %}
		The specified playlist does not exist!
	{% endif %}

	{% if user.is_authenticated %}
		{% if playlist.author == user.username %}
    		<a class="btn btn-default" href="{% url 'add_song' playlist.slug %}">Add a Song</a>
		{% endif %}
	{% endif %}
{% endblock %}