{% extends 'ToP/base.html' %}

{% block title %}
	Register
{% endblock %}

{% block body %}
	
		<strong>register here!</strong><br />
		<form class="regsiter-form" role="form" method="post" action="{% url 'register' %}">
			{% csrf_token %}
			<label for="inputUsername" class="sr-only">Username</label>
			<h2 class="form-signin-heading">Create a Top of the Playlists account</h2>
			<br/>
				<input type="text" name="username" id="id_username" class="form-control" placeholder="Username" required autofocus/>
			<br/>
				<label for="inputPassword" class="sr-only">Password</label>
				<input type="password" name="password" id="id_password" class="form-control" placeholder="Password" required autofocus/>
			<br/>
			<p class="lead">
				<input class="btn btn-lg btn-secondary" type="submit" value="Create"/>
			</p>
		</form>

{% endblock %}