{% extends 'ToP/base.html' %}
{% load staticfiles %}

{% block title %}
	Top Rated
{% endblock %}

{% block body %}
<div class="inner cover">
	<p class="lead">
		<h1>The Top 40</h1>
	</p>
	<h5>This is where all the best playists on the site come together to battle it out for a place in the Top 40 Rankings!</h5>
</div>

<div class="col-lg-12">
	{% if playlists %}
	<ul class="list-group">
		{% for playlist in playlists %}
		<li class="list-group-item list-group-item-warning">
		
			{% if playlist.picture %}
				<img src="{{ playlist.picture.url }} "height='75' width='auto'>
			{% else %}
				<img src="{{ MEDIA_URL }}vinyl-883199_960_720.png "height='75' width='auto'>
			{% endif %}	
			
			<a href="/ToP/playlist/{{ playlist.slug }}" class="trigger">{{ playlist.name }}</a>
				<div class="pop-up" style="display: none">
					{% if playlist.author %}
						<p>Author: {{ playlist.author }}</p>
					{% else %}
						<p>Author: N/A</p>
					{% endif %}
				</div>
		</li>
		{% endfor %}
	</ul>
	{% else %}
		<p class="lead">There are no playlists present.</p>
	{% endif %}
</div>
{% endblock %}
