{% extends 'ToP/base.html' %}
<!--> Displays a list of all created playlists in the database, along with either the
default cover art or the user-uploaded cover image. The playlist author is also displayed. </!-->
{% load staticfiles %}

{% block title %}
	View All Playlists 
{% endblock %}

{% block body %}
<div class="inner cover">
	<h1>All Playlists</h1>
	<h5>View all the playlists ever created by our awesome users!</h5>
</div>

<div class="col-lg-12">
	{% if playlists %}
	<ul class="list-group">
		{% for playlist in playlists %}
			<li class="list-group-item list-group-item-warning">
				
			{% if playlist.picture %}
				<img src="{{ playlist.picture.url }} "height='75' width='auto'>
			{% else %}
				<img src="{{ MEDIA_URL }}vinyl-883199_960_720.png "height='75' width='auto'>
			{% endif %}	
			
			<a href="{% url 'show_playlist' playlist.slug %}" class="trigger">{{ playlist.name }}</a>
				<div class="pop-up" style="display: none">
					{% if playlist.author %}
						<p>Author: {{ playlist.author }}</p>
					{% else %}
						<p>Author: N/A</p>
					{% endif %}
				</div>
			</li>
		{% endfor %}
	</ul>
	{% else %}
		<p class="lead">There are no playlists present.</p>
	{% endif %}
</div>
{% endblock %}