{% extends 'ToP/base.html' %}
{% load staticfiles %}

{% block title %}
	View All Playlists 
{% endblock %}

{% block body %}

<h4>All Playlists</h4>

<div class="col-lg-12">
	{% if playlists %}
	<ul class="list-group">
		{% for playlist in playlists %}
		<li class="list-group-item list-group-item-warning">
			<a href="/ToP/playlist/{{ playlist.slug }}">{{ playlist.name }}</a>
		</li>
		{% endfor %}
	</ul>
	{% else %}
		<p class="lead">There are no playlists present.</p>
	{% endif %}
</div>
{% endblock %}